{
   "arrowParens": "avoid",
   "bracketSpacing": true,
   "insertPragma": false,
   "jsxBracketSameLine": true,
   "printWidth": 120,
   "proseWrap": "preserve",
   "requirePragma": false,
   "semi": false,
   "singleQuote": true,
   "tabWidth": 2,
   "trailingComma": "none",
   "useTabs": false
}